@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">GESTION D'ACHAT</h1>
    <p class="lead">Explorez comment <a href="https://docs.microsoft.com/aspnet/core">créer des applications Web avec ASP.NET Core</a>.</p>
</div>

<style>
    /* Ajoutez vos styles CSS ici */
    .text-center {
        text-align: center;
    }

    .display-4 {
        font-size: 2.5rem;
        font-weight: bold;
        margin-bottom: 20px;
    }

    .lead {
        font-size: 1.25rem;
        margin-bottom: 20px;
    }

        .lead a {
            color: #007bff;
            text-decoration: none;
        }

            .lead a:hover {
                text-decoration: underline;
            }
</style>

