@model Application.Models.Article

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <style>
        /* Ajoutez vos styles CSS ici */
        .row {
            margin-bottom: 20px;
        }

        .col-md-4 {
            margin-bottom: 20px;
        }

        .form-group {
            margin-bottom: 20px;
        }

        .btn-primary {
            background-color: #007bff;
            color: #fff;
            border: none;
            padding: 8px 16px;
            cursor: pointer;
        }

            .btn-primary:hover {
                background-color: #0056b3;
            }
    </style>
</head>

<h1>Edit</h1>

<h4>Article</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Designation" class="control-label"></label>
                <input asp-for="Designation" class="form-control" />
                <span asp-validation-for="Designation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Quantite" class="control-label"></label>
                <input asp-for="Quantite" class="form-control" />
                <span asp-validation-for="Quantite" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="prix" class="control-label"></label>
                <input asp-for="prix" class="form-control" />
                <span asp-validation-for="prix" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="taxe" class="control-label"></label>
                <input asp-for="taxe" class="form-control" />
                <span asp-validation-for="taxe" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Decision" class="control-label"></label>
                <select asp-for="Decision" class="form-control">
                    <option value="Waiting" selected="@(Model.Decision == "Waiting")">Waiting</option>
                    <option value="Approved" selected="@(Model.Decision == "Approved")">Approved</option>
                    <option value="Rejected" selected="@(Model.Decision == "Rejected")">Rejected</option>
                </select>
                <span asp-validation-for="Decision" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" class="btn btn-primary">Back to List</a>
</div>
